<ion-header>
  <ion-toolbar color="danger">
    <ion-title padding center text-center>YourFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color" padding center text-center>
  <h1>Página cadastro</h1>
  <ion-card>
    <form (ngSubmit)="signup()" [FormGroup]="form" )>
    <ion-list inset>

      <ion-item [[ngClass]="{invalid: emailErrors.hasError('*', ['touched'])}" ]>
        <ion-label floating>Email</ion-label>
        <ion-input placeholder="Email" type="text" formControlName="email"></ion-input>
      </ion-item>

      <div ngxErrors="email" #emailErrors="ngxErrors">
        <div [ngxError]="['email', 'required']" [when]="['touched']">It should be a valid email</div>
      </div>

      <ion-item [[ngClass]="{invalid: passwordErrors.hasError('*', ['touched'])}" ]>
        <ion-label floating>Senha</ion-label>
        <ion-input placeholder="Password" type="password" [(ngModel)]="User.password"></ion-input>
      </ion-item>

      <div ngxErrors="password" #passwordErrors="ngxErrors">
        <div [ngxError]="['minlength', 'required']" [when]="['touched']">It should be at least 6 characters</div>
      </div>

    </ion-list>
    </form>
  </ion-card>

  <div padding-horizontal>
    <div class="form-error">{{signupError}}</div>
  
    <button ion-button full type="submit" [disabled]="!form.valid">Sign up</button>
  </div>

  <ion-button full color="secondary" (click)="goBack()">Voltar</ion-button>

</ion-content>